<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# H1 Data Science Tools and Ecosystem

*In this notebook, Data Science Tools and Ecosystem are summarized.

*In this notebook, Data Science Tools and Ecosystem are summarized.

# H2**Objectives
#List popular languages for Data Science

- SQL
- R
- JavaScript

**Some of the popular languages that Data Scientists use are:
1. Python
2. Juiia Scala
3. Scala

**Some of the commonly used libraries used by Data Scientists include:

1.Pandas
2. Seaborn
3. Tansor flow

|Data Science Tools|
|------------------|
|Anaconda|
|Jupyter Notebooks|
|PyCharm|

#H3 Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
 #This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

In [13]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# H2 Author

# Ahmad Husnain